*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

html, body{
  height: 100%;
  overflow: hidden;
  //background: linear-gradient(to bottom, #ff6666 0%, #ccff66 100%);
  nav{
    position: fixed;
    z-index: 25;
    min-height: 100%;
    width: 80px;
    background: linear-gradient(to bottom left, #66ccff 16%, #ff6699 84%);
  }

}
#myLogo{
  position: absolute;
  right: 15px;
  top: 15px;
}

#nav-list{
  align-items: center;
  display: flex;
  flex-direction: column;


  li{
    margin-top: 50px;
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  img{

    height: 50px;
    width: 50px;

  }
}
.home-content{
  background-color: linear-gradient(to bottom, #ff6666 0%, #ccff66 100%);
  canvas{
    background-color: white;

  }
}
.about-content{
  img{
    height: 100vh;
    width: 100vw;
  }

}
.skill-content{
  font-family: 'Bungee', cursive;
  canvas{

    transform: translate(400px, 30px);
  }
  img{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
  }
  .desc{
    transform: translate(200px, 100px);
    color: white;
    position: absolute;
  }
}
.home, .about, .skill{
  position: absolute;
  z-index: 1;
  background-color: grey;
  height: 100%;
  width: 100%;

  .black-screen{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 50;
    background-color: white;
    opacity: 0;
    display: none;
  }

}
