*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

html, body{
  height: 100%;
  overflow: hidden;
  //background: linear-gradient(to bottom, #ff6666 0%, #ccff66 100%);
  nav{
    position: fixed;
    z-index: 25;
    min-height: 100%;
    width: 80px;
    background: linear-gradient(to bottom left, #66ccff 16%, #ff6699 84%);
  }

}
#myLogo{
  position: absolute;
  right: 15px;
  top: 15px;
}

#nav-list{
  align-items: center;
  display: flex;
  flex-direction: column;


  li{
    margin-top: 50px;
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  img{
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #000000;
    height: 50px;
    width: 50px;

  }
}
.home-content{
  background-color: linear-gradient(to bottom, #ff6666 0%, #ccff66 100%);
  #canvas{
    background-color: white;
    height: 100vh;
    width: 100%;
  }
}
.about-content{
  font-family: 'Bungee', cursive;
  #canvas{
    height: 100vh;
    width: 100%;
  }
  #description{
    position: absolute;
    color: #FFFFFF;
    padding: 10px 10px;
    left: 200px;
    top: 100px;

  }
}

.skill-content{
  font-family: 'Bungee', cursive;
  canvas{

    transform: translate(400px, 30px);
  }
  img{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
  }
  .desc{
    transform: translate(200px, 100px);
    color: white;
    position: absolute;
  }
}

.contact-content{
  .contact-form{
    position: absolute;
    background-color: #000000;
    right: 50%;
    height: 100%;
    width:  50%;
    p{
      transform: translate(100px,100px);
    }
  }
  #map{
        left: 50%;
        height: 100vh;
        width:  50vw;
  }
}

.home, .about, .skill, .contact{
  position: absolute;
  z-index: 1;
  background-color: grey;
  height: 100%;
  width: 100%;

  .black-screen{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 50;
    background-color: white;
    opacity: 0;
    display: none;
  }

}
