*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

html, body{
  height: 100%;
  overflow: hidden;
  //background: linear-gradient(to bottom, #ff6666 0%, #ccff66 100%);
  nav{
    position: fixed;
    z-index: 25;
    min-height: 100%;
    width: 80px;
    background: linear-gradient(to bottom left, #66ccff 16%, #ff6699 84%);
    #nav-list li a i{

      color: #000000;
    }
    #nav-list li a p{

      font-family: 'Bungee', cursive;
      padding-left: 5px;
      padding-top: 1px;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      font-size: 15px;
      transition: 0.3s;
      opacity: 0;
      position: absolute;
    }
    #index-fnt:hover i{
      opacity: 0;
      transition: 0.3s;
    }
    #index-fnt:hover p{
      opacity: 1;
    }
    #index-fnt p{
      top: 100px;
      left: 13px;
    }

    #about-fnt:hover i{
      opacity: 0;
      transition: 0.3s;
    }
    #about-fnt:hover p{
      opacity: 1;
    }
    #about-fnt p{
      top: 175px;
      left: 8px;
    }



    #work-fnt:hover i{
      opacity: 0;
      transition: 0.3s;
    }
    #work-fnt:hover p{
      opacity: 1;
    }
    #work-fnt p{
      top: 248px;

      left: 12px;
    }

    #contact-fnt:hover i{
      opacity: 0;
      transition: 0.3s;
    }
    #contact-fnt:hover p{
      opacity: 1;
    }
    #contact-fnt p{
      top: 321px;
      left: 0px;
    }

    #linkedin-fnt:hover i{
      transition: 0.3s;
      color: #ffffff;
    }
  }

}
#myLogo{
  position: absolute;
  right: 15px;
  top: 15px;
}

#nav-list{
  align-items: center;
  display: flex;
  flex-direction: column;


  li{
    margin-top: 50px;
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  img{
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #000000;
    height: 50px;
    width: 50px;

  }
}
.home-content{
  background-color: linear-gradient(to bottom, #ff6666 0%, #ccff66 100%);
  #canvas{
    background-color: white;
    height: 100vh;
    width: 100%;
  }
}
.about-content{
  font-family: 'Bungee', cursive;
  #canvas{
    height: 100vh;
    width: 100%;
  }
  #description{
    position: absolute;
    color: #FFFFFF;
    background-color: hsla(0, 0%, 0%, 0.76);
    padding: 10px 10px;
    left: 200px;
    top: 100px;

  }
}
.contact-content{
  #canvas{
    height: 100vh;
    width: 100%;
  }
  .buttons{
    position: absolute;
    display: flex;
    width: 100%;
    top: 50%;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    button{
      border: none;
      background: none;
      height: 40px;
      margin: 0px 35%;
    }
    i{
      color: #ffffff;
    }
  }

  #card_container{
    top: 70px;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;

    div{
      border-radius: 0px 0px 30px 30px;
      background-color: rgba(0, 0, 0, 0.50);
      position: relative;
      z-index: 5;
      word-wrap: break-word;
      width: 50%;
      padding: 10px;
      height: 250px;

      p{
        text-align: center;
        color: #ffffff;
        font-size: 35px;
      }

      a{
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-size: 35px;
        text-decoration: none;
      }
    }
    button{
      width: 100px;
      position: relative;
      left: 25%;
      top: 15px;
      padding: 10px;
      border: none;
      background: none;
      cursor: pointer;
    }
    #card_exit{
      position: relative;
      z-index: 20;
      outline: none;
      box-shadow: none;
    }

    #card_image{
      border-radius: 30px 30px 0px 0px;
      position: relative;
      padding: 10px;
      width: 50%;
      object-fit: cover;
      object-position: 50% 25%;
      height: 300px;
      background-color: rgba(0, 0, 0, 0.50);
    }
  }

  #card_container:hover div a i{
    transition: 0.3s;
    color: #fcba03;
  }

}

.home, .about, .contact{
  position: absolute;
  z-index: 1;
  background-color: grey;
  height: 100%;
  width: 100%;

  .black-screen{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 50;
    background-color: white;
    opacity: 0;
    display: none;
  }

}
