*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body{
  height: 100%;

  nav{
    min-height: 100%;
    width: 5vw;
    background-color: #1414;
  }
}

#nav-list{
  align-items: center;
  display: flex;
  flex-direction: column;

  li{
    margin-top: 50px;
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  img{
    height: 50px;
    width: 50px;
  
  }
}
